@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject IAuthorizationService authorizationService

@{
    var result = await authorizationService.AuthorizeAsync(User, "ViewManageMenu");
}

@if (SignInManager.IsSignedIn(User) && result.Succeeded)
{
    <div class="dropdown">
        <a class="btn btn-outline-danger dropdown-toggle" href="#"
           id="managedropdownmenu" data-toggle="dropdown">
            Manage
        </a>
        <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
            <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">
                Database
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Staff">
                Quản lý thông tin nhân viên
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Customer">
                Quản lý thông tin khách hàng
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">
                Quản lý role
            </a>
            <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">
                Quản lý user
            </a>
            <a class="dropdown-item" asp-action="Create" asp-controller="Movie" asp-area="Identity">
                Thêm phim
            </a>
        </div>
    </div>
}
