<!-- Begin Footer -->
<footer class="py-2  mt-auto">
    <div class="container-fluid px-4">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-md-3">
                <h6>Thành viên nhóm: </h6>
                <ul class="list-unstyled">
                    <li>Trần Tiến Dũng</li>
                    <li>Đàm Văn Bảo</li>
                    <li>Trần Minh Hiếu</li>
                    <li>Nguyễn Minh</li>
                    <li>Nguyễn Mai Thanh</li>
                </ul>
            </div>

            <!-- Column 2 -->
            <div class="col-md-3">
                <h6>Chăm sóc khách hàng</h6>
                <ul class="list-unstyled">
                    <li>Hotline: 69999999</li>
                    <li>Giờ làm việc: 8h00 - 22h00</li>
                    <li>Email: abc@gmail.com</li>
                    <li>Địa chỉ: ĐH GTVT</li>
                </ul>
            </div>

            <!-- Column 3 -->
            <div class="col-md-3 text-white">
                <h6>Chi nhánh</h6>
                <ul class="list-unstyled ">
                    <li><a href="https://www.utc.edu.vn/ " style="text-decoration: none; color: white;">Trường Đại Học GTVT</a></li>

                </ul>
            </div>

            <!-- Column 4 -->
            <div class="col-md-3">
                <h6>Kết nối với chúng tôi</h6>
                <ul class="list-unstyled d-flex">
                    <li class="me-3"><i class="fa-brands fa-square-facebook fa-2x"></i></li>
                    <li class="me-3"><i class="fa-brands fa-square-youtube fa-2x"></i></li>
                    <li class="me-3"><i class="fa-brands fa-instagram fa-2x"></i></li>
                    <li><i class="fa-brands fa-square-twitter fa-2x"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
      
