@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header>
    <h1 class="text-danger ms-2 mx-2">@ViewData["Title"]</h1>
    <p class="text-danger ms-2 mx-2">Bạn không được phép truy cập chức năng này.</p>
</header>
