@{
    ViewData["Title"] = "Tạm khóa tài khoản";
}

<header>
    <h1 class="text-danger ms-2 mx-2">@ViewData["Title"]</h1>
    <p class="text-danger ms-2 mx-2">
        Tài khoản bị tạm khóa, hãy thử lại sau
    </p>
</header>
