@{
    ViewData["Title"] = "Đặt lại mặt khẩu";
}

<h1 class="ms-2 mx-2">@ViewData["Title"].</h1>
<p class="ms-2 mx-2">
    Bạn đã đặt lại mật khẩu, 
    <a asp-controller="Account" asp-action="Login">
        bấm vào đây để đăng nhập
    </a>
</p>
