@model DisplayRecoveryCodesViewModel
@{
    ViewData["Title"] = "Mã phục hồi";
}

<h1 class="ms-2 mx-2">@ViewData["Title"].</h1>
<p class="text-success ms-2 mx-2">@ViewData["StatusMessage"]</p>

<div>
    <h4 class="ms-2 mx-2">Đây là các mã phục hồi của bạn</h4>
    <p class="ms-2 mx-2">Lưu trữ các mã này đề phòng khi đăng nhập cần xác thực hai yếu tố</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Codes:</dt>
        @foreach (var code in Model.Codes)
        {
        <dd>
            <text>@code</text>
        </dd>
        }
    </dl>
</div>