@{
    ViewData["Title"] = "Event Page";
    Layout = "_MyLayout";
}

<div class="container py-4">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-uppercase bold"><a class="link-text" href="">TIN MỚI VÀ ƯU ĐÃI</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event1"><img src="~/images/Events/EventBox1.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> HAPPY DAY</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event2"><img src="~/images/Events/EventBox2.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> Quà sinh nhật MIỄN PHÍ</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event3"><img src="~/images/Events/EventBox3.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> THỨ 4 VUI VẺ</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event4"><img src="~/images/Events/EventBox4.png" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> 16/09/2024 - 23/02/2025</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event5"><img src="~/images/Events/EventBox5.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> 12/10/2024 - 31/10/2024</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event6"><img src="~/images/Events/EventBox6.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> 10/10/2024 - 10/04/2025</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event7"><img src="~/images/Events/EventBox7.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> 10/10/2024 - 31/10/2024</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="border-radius-10 shadow-sm">
                <div class="mix-inner position-relative overflow-hidden">
                    <a href="/Event/Event8"><img src="~/images/Events/EventBox8.jpg" class="img-fluid scale"></a>
                </div>
                <h4 class="content mt-2"><i class="fa-solid fa-calendar-days"></i> 22/09/2024</h4>
            </div>
        </div>
    </div>
</div>

<style>
    .text-uppercase.bold {
        color: #ffffff;
        font-size: 33px;
        font-weight: 700;
        line-height: 49.5px;
        margin: 20px 0px 10px;
        text-transform: uppercase;
    }

    .link-text {
        color: #ffffff;
        display: inline;
        font-size: 33px;
        font-weight: 700;
        text-decoration: none;
    }

    .link-text:hover {
        text-decoration: underline;
        color: #ffffff;
    }

    .mix-inner {
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: transform 0.2s ease;
        overflow: hidden;
    }

    .scale {
        width: 100%;
        transition: transform 0.3s;
    }

    .scale:hover {
        transform: scale(1.1);
    }

    .content {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
    }

    .fa-calendar-days {
        margin-right: 8px;
        color: #ffffff;
    }
</style>
