@{
    ViewData["Title"] = "Event8 Page";
    Layout = "_MyLayout";
}


<div class="container">
    <h1 class="title">BABY SHARK 2024 COMBO</h1>

    <div class="row">
        <div class="col-lg-4 promo">
            <img src="~/images/Events/Details/EventDetail8.jpg" alt="BABY SHARK 2024 COMBO Image">
        </div>
        <div class="col-lg-8 promo-text">
            <h2>1. Thời gian mở bán:</h2>
            <p>Từ ngày 22/09/2024.</p>

            <h2>2. Thông tin sản phẩm:</h2>
            <ul>
                <li>Bộ sưu tập Baby Shark 2024 có 03 mẫu nhân vật gồm Pinkfong, Mommy Shark và Daddy Shark.</li>
                <li>Dung tích ly: 32oz (tương đương 946ml).</li>
                <li>Chiều cao ly: ~31 cm (đã bao gồm topper 12 cm).</li>
                <li>Chiều rộng đáy ly: ~7cm.</li>
                <li>Chất liệu: Nhựa PP số 5.</li>
                <li>Sản phẩm chính hãng và có bản quyền từ Licensor.</li>
            </ul>

            <h2>3. Thông tin combo sản phẩm:</h2>
            <ul>
                <li>Baby Shark 2024 Single Combo gồm 01 ly nhân vật (kèm nước).</li>
                <li>Baby Shark 2024 Couple Combo gồm 02 ly nhân vật (kèm nước).</li>
                <li>Baby Shark 2024 Family Combo gồm 03 ly nhân vật (không kèm nước) + 02 ly Coke 32 oz.</li>
            </ul>

            <h2>4. Đặt mua tại DMHTB Store:</h2>
            <p>Truy cập <a href="https://bit.ly/DMHTB-store" target="_blank">DMHTB Store</a> hoặc mua cùng lúc với vé online.</p>

            <h2>5. Sản phẩm mở bán online và offline:</h2>
            <p>Tại tất cả các cụm rạp DMHTB Cinemas Vietnam.</p>

            <p><strong>*Lưu ý:</strong> Mẫu ly nhân vật phụ thuộc vào số lượng thực tế tại rạp.</p>
        </div>
    </div>
</div>

<style>
    .title {
        color: #00EBFF;
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
    }

    .highlight {
        font-weight: bold;
        color: #388e3c;
    }

    .promo img {
        width: 100%;
    }

    .promo-text {
        font-size: 1rem;
        color: white;
    }

    .promo-text h4 {
        color: #ff5722;
        margin-top: 20px;
    }

    .promo-text ul {
        list-style: none;
        padding-left: 0;
    }

    .promo-text ul li {
        padding-left: 15px;
        position: relative;
    }

    .promo-text ul li::before {
        content: "•";
        position: absolute;
        left: 0;
        top: 0;
        color: red;
    }
</style>