@{
    ViewData["Title"] = "Event3 Page";
    Layout = "_MyLayout";
}

<div class="container">
    <h1 class="title">HAPPY WEDNESDAY - THỨ TƯ VUI VẺ - GIÁ VÉ HẠT DẺ</h1>

    <div class="row">
        <div class="col-lg-4 promo">
            <img src="~/images/Events/Details/EventDetail3.jpg" alt="HAPPY WEDNESDAY - THỨ TƯ VUI VẺ - GIÁ VÉ HẠT DẺ Image">
        </div>
        <div class="col-lg-8 promo-text">
            <h1>Happy Wednesday - Thứ Tư Vui Vẻ - Giá Vé Hạt Dẻ</h1>
            <p>Chân thành cảm ơn quý khách hàng đã tin tưởng và đồng hành cùng DMHTB trong suốt thời gian qua. DMHTB áp dụng chính sách giá vé đặc biệt nhằm tri ân khách hàng, đồng giá vé như sau:</p>
            <p>“HAPPY WEDNESDAY – THỨ TƯ VUI VẺ – GIÁ VÉ HẠT DẺ” vào mỗi Thứ Tư hàng tuần, bạn sẽ được tận hưởng những bộ phim siêu phẩm với giá cực ưu đãi. Nào, hãy đến DMHTB ngay để nạp lại năng lượng mà không cần chờ đến cuối tuần nhé!</p>
            <ul>
                <li>55.000đ/vé 2D – ghế thường: áp dụng tại các khu vực Tiền Giang, Đắk Lắk, Khánh Hòa, ...</li>
                <li>60.000đ/vé 2D – ghế thường: áp dụng tại cụm rạp DMHTB Vincom Móng Cái và ...</li>
                <li>65.000đ/vé 2D – ghế thường: áp dụng tại các khu vực Cần Thơ, Hà Tĩnh, ...</li>
                <li>70.000đ/vé 2D – ghế thường: áp dụng tại các khu vực Đồng Nai, Phú Thọ, ...</li>
                <li>75.000đ/vé 2D – ghế thường: áp dụng tại các khu vực TP Hồ Chí Minh, Hà Nội, ...</li>
            </ul>
            <p class="note">* Giá vé 2D trên chưa bao gồm phụ thu ghế VIP và ghế Sweetbox.</p>
            <p>Để biết giá vé ưu đãi của chương trình này tại rạp bạn muốn đến, vui lòng xem phần ”Giá vé” tại trang rạp!</p>
            <h3>Điều khoản và điều kiện:</h3>
            <p>- Giá vé Happy Day không áp dụng vào các ngày Lễ, Tết, suất chiếu đặc biệt và định dạng ULTRA 4DX.</p>
            <p>- Giá vé Happy Day không áp dụng cho các chương trình giảm giá khác.</p>

        </div>
    </div>
</div>

<style>
    .title {
        color: #00EBFF;
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
    }

    .promo img {
        width: 100%;
    }

    .promo-text {
        margin-top: 20px;
        font-size: 1rem;
        color: white;
    }

    .promo-text h4 {
        color: #ff5722;
        margin-top: 20px;
    }

    .promo-text ul {
        list-style: none;
        padding-left: 0;
    }

    .promo-text ul li {
        padding-left: 15px;
        position: relative;
    }

    .promo-text ul li::before {
        content: "•";
        position: absolute;
        left: 0;
        top: 0;
        color: red;
    }
</style>