@{
    ViewData["Title"] = "Event4 Page";
    Layout = "_MyLayout";
}

<div class="container">
    <h1 class="title">CHƯƠNG TRÌNH ƯU ĐÃI DÀNH CHO CHỦ THẺ MSB MASTER CARD</h1>

    <div class="row">
        <div class="col-lg-4 promo">
            <img src="~/images/Events/Details/EventDetail4.jpg" alt="Happy Day Promotion Image">
        </div>
        <div class="col-lg-8 promo-text">
            <h4>Cách thức nhận ưu đãi:</h4>
            <ol>
                <li>Bước 1: Chọn mua vé xem phim.</li>
                <li>Bước 2: Tại mục “Giảm giá”, chọn ô “Đối tác”, tiếp tục chọn “MSB-MASTERCARD”.</li>
                <li>Bước 3: Chủ thẻ hợp lệ tiếp tục đến bước thanh toán và sử dụng thẻ thanh toán MSB MasterCard.</li>
                <li>Bước 4: Chủ thẻ hợp lệ xuất trình thông tin tại rạp DMHTB để nhận vé xem phim.</li>
            </ol>

            <h4>1. Thể lệ:</h4>
            <ul>
                <li>Thời gian áp dụng chương trình: 16/09/2024 - 23/02/2025.</li>
                <li>Áp dụng cho tất cả Chủ thẻ MSB MasterCard với những đầu BIN sau: 532451.</li>
                <li>Chương trình bắt đầu từ 06h00 - 23h59 mỗi ngày.</li>
                <li>Áp dụng cho vé xem phim 2D tại tất cả rạp DMHTB trên toàn quốc.</li>
                <li>Mỗi chủ thẻ được nhận tối đa 2 ưu đãi/ tuần.</li>
                <li>Số lượng ưu đãi: 300 ưu đãi/tuần.</li>
                <li>Không áp dụng vé U22.</li>
            </ul>

            <h4>2. QUY ĐỊNH CHUNG</h4>
            <ul>
                <li>Chương trình chỉ áp dụng cho hạng ghế thường và hạng ghế VIP cho phim 2D. Mỗi cặp vé được áp dụng cho cùng một bộ phim, một suất chiếu và cùng hạng ghế.</li>
                <li>Không áp dụng đặt vé vào ngày lễ tết và cho các suất chiếu vào dịp lễ tết theo quy định của pháp luật.</li>
                <li>Không áp dụng cho suất chiếu sớm, suất chiếu đặc biệt, và các phòng chiếu đặc biệt như: IMAX, 4DX, GOLD CLASS, STARIUM, L’AMOUR, SWEETBOX…</li>
                <li>Chương trình áp dụng cho tất cả các cụm rạp chiếu phim DMHTB trên toàn quốc.</li>
                <li>Vé xem phim không có giá trị đổi thành tiền mặt hay hoàn trả.</li>
                <li>Chương trình không áp dụng đồng thời với các chương trình khuyến mãi khác.</li>
                <li>KH chỉ tiến hành thanh toán khi hệ thống đã hiển thị số tiền giảm giá. MSB và DMHTB không chịu trách nhiệm về việc hệ thống không hiển thị số tiền giảm giá mà KH vẫn tiến hành thanh toán.</li>
                <li>DMHTB bảo lưu toàn quyền điều chỉnh hoặc kết thúc chương trình tại bất kỳ thời điểm nào mà không cần thông báo trước hoặc chịu trách nhiệm bồi thường bằng tiền mặt hoặc tài sản.</li>
                <li>DMHTB bảo lưu quyền không chấp nhận hoặc từ chối người tham gia có dấu hiệu vi phạm các quy định chương trình.</li>
                <li>DMHTB bảo lưu quyền hủy bỏ, sửa đổi và/hoặc điều chỉnh toàn bộ hoặc một phần bất kì các điều kiện và điều khoản của chương trình tại bất kỳ thời điểm nào mà không cần thông báo trước cho người tham gia.</li>
                <li>Trong trường hợp xảy ra tranh chấp, quyết định của DMHTB là quyết định cuối cùng.</li>
            </ul>
        </div>
    </div>
</div>



<style>
    .title {
        color: #00EBFF;
        font-size: 1.75rem;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
    }

    .content {
        margin-top: 20px;
    }

    .promo img {
        width: 100%;
    }

    .promo-text h4 {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: white;
    }

    .promo-text p, .promo-text li {
        font-size: 1rem;
        color: white;
    }

    .promo-text li {
        margin-bottom: 10px;
    }

    .promo-text ul {
        padding-left: 20px;
    }
</style>